.main-billboard {
    background-color: red;
    height : 300px;
}

.category-item {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.category-item:nth-child(2n-1) {
    background-color: darkblue;
}

.category-item:nth-child(2n) {
    background-color: indigo;
}